<!DOCTYPE html>
<html>
<head>
  <title>Example Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- @if GULP_ENVIRONMENT='development' -->
    <link rel="stylesheet" href="/styles/vendor.css">
    <!-- @endif -->
    <link rel="stylesheet" href="/styles/application.css">
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <h1>Example Application</h1>

  <!-- @if GULP_ENVIRONMENT='development' -->
  <script type="text/javascript" src="/scripts/vendor.js"></script>
  <!-- @endif -->
  <script type="text/javascript" src="/scripts/application.js"></script>
</body>
</html>
