<!DOCTYPE html>
<html>
<head>
  <title>Caribou Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <!-- @if GULP_ENVIRONMENT='development' -->
    <link rel="stylesheet" href="/styles/vendor.css">
    <!-- @endif -->
    <link rel="stylesheet" href="/styles/application.css">
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <div class="content">
    <h1>Welcome to Caribou!</h1>
    <p>
      Caribou is a Yeoman generator that creates a nice environment for you to
      start working on front-end web applications. For more information on how to
      use it, please visit <a href="https://github.com/wbyoung/caribou">the
      GitHub project page</a>.
    </p>
    <img src="/media/caribou.png" alt="Caribou">
  </div>

  <!-- @if GULP_ENVIRONMENT='development' -->
  <script type="text/javascript" src="/scripts/vendor.js"></script>
  <!-- @endif -->
  <script type="text/javascript" src="/scripts/application.js"></script>
</body>
</html>
