<div class="content">
  <h1>Caribou with Ember</h1>
  <p>
    Caribou works great with Ember and will pre-compile your handlebars
    templates for you. You can also use <a href="http://emblemjs.com">
    Emblem.js</a> for any of your templates.
  </p>
</div>